/************************************************************
 * ATTENTION REGLAGES DE L'INTERFACE GLOBALE.
 * NE PAS TOUCHER AUX LIGNES CI-DESSOUS
 * TRAVAILLEZ A PARTIR DE LA LIGNE 27 !!
 ************************************************************/
.page{
    width: 900px;
    margin:auto;
}
.entete{
    height: 100px;
}
.colonne_menu{
    float:left;
    width:200px;
    height:100%;
}
.colonne_contenu {
    margin-left:200px;
}
.pieddepage{
    height:50px;
}

/************************************************************
 * SAISISSEZ VOS DECLARATIONS CSS EN-DESSOUS DE CETTE LIGNE
 ************************************************************/
body{
	/* Pour avoir le choix des couleurs https://htmlcolorcodes.com/fr/noms-de-couleur/ */
    background-color: aliceblue;
    font-size: 1rem;
    font-family: 'Gill Sans', Calibri, 'Trebuchet MS';
    margin: 0;
    padding: 0;
}

.entete{
    background-color: rgb(27, 101, 141);
    padding: 10px;
}

.titre_site {
    font-size: 2rem;
    color: rgb(127, 196, 245);
}

.slogan {
    font-size: 1.2rem;
    color: white;
    font-style: italic;
}

.colonnes {
    background-color: deepskyblue;
}
.colonne_menu{
    background-color: gold;
}
.colonne_contenu {
    background-color: lightgreen;
}
.pieddepage{
    background-color: DodgerBlue;
    color: white;
    text-align: center;
}




